services:
  # Django Backend
  backend:
    build: .
    container_name: react_project_backend
    command: python reactproject/manage.py runserver 0.0.0.0:8000
    restart: always
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    env_file:
      - .env
    extra_hosts:
      - "host.docker.internal:host-gateway"
    networks:
      - app-network

  # React Frontend
  frontend:
    build:
      context: ../react-frontend/liverguard
      dockerfile: Dockerfile
    container_name: react_project_frontend
    restart: always
    ports:
      - "3000:3000"
    volumes:
      - ../react-frontend/liverguard:/app
      - /app/node_modules
    environment:
      - REACT_APP_API_URL=http://localhost:8000
      - CHOKIDAR_USEPOLLING=true
    depends_on:
      - backend
    networks:
      - app-network
    stdin_open: true
    tty: true

networks:
  app-network:
    driver: bridge

